esphome:
  name: ac-kantoor
  platform: ESP32
  board: nodemcu-32s

wifi:
  fast_connect: true
  ssid: !secret wifi_ssid
  password: !secret wifi_password

logger:
  level: VERY_VERBOSE

api:
  encryption:
    key: "eMNAFWQZZTMVPwA+iJIhmEIbuBqTOppqxwONc4nbu8o="

ota:
  - platform: esphome
    password: "0a81d968a55cbed486cde08052d53b0a"

uart:
  tx_pin: GPIO17
  rx_pin: GPIO16
  baud_rate: 9600
  parity: EVEN

external_components:
  source: github://stolk88/ESP-Panasonic-ac
  components: [panasonic_ac]

climate:
  - platform: panasonic_ac
    type: wlan
    name: ac-kantoor
    horizontal_swing_select:
      name: Panasonic AC Horizontal Swing Mode
    vertical_swing_select:
      name: Panasonic AC Vertical Swing Mode
    outside_temperature:
      name: Panasonic AC Outside Temperature
